/*Google fonts*/

@import url('https://fonts.googleapis.com/css2?family=Gideon+Roman&family=Metal+Mania&family=Rubik+Dirt&display=swap');

/*font-family: 'Rubik Dirt', cursive;*/

/*estilos generales*/
:root{
    --black:#000000;
    --blue:#4E4FEB;
    --blueWhite:#068FFF;
    --grey:#EEEEEE;
    --grey2:#61677A;
}
section{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
h1{
    size: 2.5rem;
    font-family: 'Rubik Dirt', cursive
}
.seccion-oscura{
    color:var(--grey);
    background-color: var(--black)
}

.seccion-clara{
    color:var(--black);
    background-color:var(--grey);
}
.seccion-titulo{
    font-size: 2rem;
    padding: 15px 0;
    font-family: 'Rubik Dirt', cursive;
}

.seccion-descripcion{
    font-size: 1.2rem;
    color:#584e4e;
}
.seccion-text{
    font-size: 1.5rem;
}

.texto-blanco{
    color:white;
}

.texto-negro{
color:var(--black);
}

.btn-info{
    font-size: 1.1rem;
    margin: 20px;
}

/*Barra de Navegacion*/

.modo{
    
    border: 2px solid black;
    color: white;
    padding: 15px 20px;
    text-align: center;
    font-size: 16px;
    font-weight: bold;
    border-radius: 50%;
    margin-left:20px ;
  
}
.modo:hover{
  background:var(--grey);
  color: black;
}
.navbar{
    background-color:var(--grey2);
    border-radius: 5px;
    box-shadow: 15px;
}

.navbar-collapse{
    align-items: center;
    justify-content: space-between;
   
}
.logo{
    width: 150px;
}
/*seccion hero*/

.hero{
    /* background-color:var(--grey); */
    min-height: 450px;  
}
.texto-principal{
    font-size: 25px;
    background-color: var(--black);
    color: var(--grey);
    border: 2px solid;
    border-radius: 10px;
    padding: 10px;
    box-shadow:10px 5px 10px var(--grey2);

}
.herramientas h2{
    padding: 10px;
}
.hero-principal h2{
    font-size: 1.5rem;
    color: #015151;
}
.fotoPerfil{
    width: 200px;
    border-radius: 50%;
    margin: 20px;
    border: solid 2px;
}

/*------ seccion herramientas------*/


.iconSkill{
    font-size: 90px;
    color: var(--blueWhite);
    padding: 1.2rem;
}

/*Acerca de mi*/

.acerca-de-mi{
    height: 500px;
    padding: 10px;
}
.acerca-de-mi .contenedor{
    max-width: 600px;
}

/*Experiencia*/

.experiencia{
    padding: 40px 40px 60px 40px;
}

.experiencia .columna{
    padding: 20px;
    border: 2px solid #8080804d;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    transition: all 0.2s ease-in;
}

.experiencia .columna:hover{
    color: white;
    background-color:var(--black);
}

.experiencia-titulo{
    font-size: 25px;
    font-weight: bold;
    margin: 10px 0;
}

.badges-contenedor{
    font-size: 20px;
    font-weight: bold;
    margin: 10px 0;
}

badges{
    margin: 5px;
}
.experiencia i{
    font-size: 2.5rem;
    color: #7ade30;
    background-color: #0a0a23;
    padding: 8px 19px;
    border-radius: 50%;
}

/*Proyectos*/

.proyectos{
    padding: 50px;
}
.proyectos img{
    height: 100%;
    width: 100%;
    padding: 10px;
    border-radius: 10px;
    display: block;
    transition: all 0.3s ease;
} 

.proyectos-contenedor{
    padding: 60px;
    margin: 40px;
}

.overlay{
    transition: all 0.3 ease;
    opacity: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    text-align: center;
}

.overlay p{
    font-size: 15px;
    font-weight: bold;
    margin-bottom: 0;
    text-align: center;
}

.proyecto:hover img{
    opacity: 0.2;
}
.proyecto:hover .overlay{
    opacity: 1;

}
.proyecto{
    position: relative;
}

.overlay .iconos-contenedor{
    display: flex;
}

.overlay i{
    color: var(--black);
    font-size: 60px;
    margin: 10px;
}

/* Testimonios */

.carousel-indicators{
    margin: 1rem;
    padding: 0.5rem;
}
.testimonios{
    padding: 40px 40px 80px 40px;
    margin-bottom: 10px;
}
 .testimonio .carousel{
    max-width: 800px;
 }

 .carousel-item{
    height: 500px;
 }

 .carousel-item .container{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

 }

 .testimonio-imagen{
    height: 160px;
    width: 150px;
    margin: 10px 10px 20px 10px;
 }

 .testimonio-texto{
    max-width:70%;
    font-size: 20px;
    text-align: center;
}

.testimonio-info{
    font-weight: bold;
    text-align: center;
}

.testimonio-info p{
    margin-bottom: 0;
}

.testimonio-fooder .cliente{
    font-size: 1rem;
}

.testimonio-info .cargo{
    font-size: 0.9rem;
    color: var(--grey2);
}

/* contacto */

.contacto .container{
    max-width: 1100px;
    min-height: 200px;
    padding: 20px;
    margin: 20px;
}

.contacto .rectangulo{
    margin-top: -3.5rem;
    background-color: var(--blueWhite);
    border-radius: 10px;
    box-shadow: 0px 1px 4px 1px var(--grey);

}

.contacto .row{
    width: 100%;
    display: flex;
    align-items: center;
}

.contacto .descripcion{
    color: var(--grey);
    font-size: 1.2rem;
}

.contacto button{
    color: var(--grey);
    font-weight: bold;
    background-color: transparent;
    border: 2px solid var(--grey);
    padding: 1.25em 2em;
    margin: 2px;
    border-radius: 100px;
    transition: all 0.2s ease-in-out;
}

.contacto button i{
    color: var(--grey);
    font-size: 1.3rem;
    transition: all 0.2s step-end;
}

.contacto button:hover{
    background-color: var(--grey);
    color: var(--black);
}
.contacto button:hover i{
    color: var(--black);
}

/* Pie de pagina */

footer{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.logo-pagina{
    width: 200px;
    margin: 10x;
}

.texto-footer{
    font-size: 1.5rem;
    padding: 20px;
    margin-bottom: 30px;
}

.iconos-redes a{
    width: 50px;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 2px;
    margin: 10px;
    border: 2px solid var(--grey);
    border-radius: 50%;
    transition: all 0.2s ease-in;
}

.iconos-redes i{
    color: var(--grey);
    font-size: 1.5rem;
    transition: all 0.2s ease-in;
}

.iconos-redes a:hover{
    background-color: var(--grey);
    border: 2px solid var(--blueWhite);
}

.iconos-redes a:hover i{
    color: var(--black);
}

.derechos-autor{
    font-size: 15px;
    color: var(--grey2);
    padding: 20px;
    align-items: center;
}
/*media Qwery*/

@media (max-width: 767px) {
    .navbar-brand{
       display: none;
      position: absolute;
    }
}

@media(min-width:700px){
.hero-inferior-imagen{
    max-width: 600px;
}
}

@media(max-width:400px){
    .overlay p{
        font-size: 10px;
    }
    .overlay i{
        font-size: 30px;
    }
}

@media(max-width:800px){
    .testimonio-imagen{
        width: 80px;
        height: 90px;
    }
    .testiminio-texto{
        font-size: 18px;
    }
}

@media(max-width:767px){
  .modo{
      font-size: 10px;
  }
 
}


/* animacion */

/* Foto perfil */

@-webkit-keyframes bounceInDown {
    from, 60%, 75%, 90%, to {
      -webkit-animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
      animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
    }
  
    0% {
      opacity: 0;
      -webkit-transform: translate3d(0, -3000px, 0);
      transform: translate3d(0, -3000px, 0);
    }
  
    60% {
      opacity: 1;
      -webkit-transform: translate3d(0, 25px, 0);
      transform: translate3d(0, 25px, 0);
    }
  
    75% {
      -webkit-transform: translate3d(0, -10px, 0);
      transform: translate3d(0, -10px, 0);
    }
  
    90% {
      -webkit-transform: translate3d(0, 5px, 0);
      transform: translate3d(0, 5px, 0);
    }
  
    to {
      -webkit-transform: translate3d(0, 0, 0);
      transform: translate3d(0, 0, 0);
    }
  }
  
  @keyframes bounceInDown {
    from, 60%, 75%, 90%, to {
      -webkit-animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
      animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
    }
  
    0% {
      opacity: 0;
      -webkit-transform: translate3d(0, -3000px, 0);
      transform: translate3d(0, -3000px, 0);
    }
  
    60% {
      opacity: 1;
      -webkit-transform: translate3d(0, 25px, 0);
      transform: translate3d(0, 25px, 0);
    }
  
    75% {
      -webkit-transform: translate3d(0, -10px, 0);
      transform: translate3d(0, -10px, 0);
    }
  
    90% {
      -webkit-transform: translate3d(0, 5px, 0);
      transform: translate3d(0, 5px, 0);
    }
  
    to {
      -webkit-transform: translate3d(0, 0, 0);
      transform: translate3d(0, 0, 0);
    }
  }
  
  .bounceInDown {
    -webkit-animation-name: bounceInDown;
    animation-name: bounceInDown;
  }
  
  .animated {
    -webkit-animation-duration: 1s;
    animation-duration: 1s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
  }

  /* h1 titulo */

  @-webkit-keyframes bounceInLeft {
    from, 60%, 75%, 90%, to {
      -webkit-animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
      animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
    }
  
    0% {
      opacity: 0;
      -webkit-transform: translate3d(-3000px, 0, 0);
      transform: translate3d(-3000px, 0, 0);
    }
  
    60% {
      opacity: 1;
      -webkit-transform: translate3d(25px, 0, 0);
      transform: translate3d(25px, 0, 0);
    }
  
    75% {
      -webkit-transform: translate3d(-10px, 0, 0);
      transform: translate3d(-10px, 0, 0);
    }
  
    90% {
      -webkit-transform: translate3d(5px, 0, 0);
      transform: translate3d(5px, 0, 0);
    }
  
    to {
      -webkit-transform: translate3d(0, 0, 0);
      transform: translate3d(0, 0, 0);
    }
  }
  
  @keyframes bounceInLeft {
    from, 60%, 75%, 90%, to {
      -webkit-animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
      animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
    }
  
    0% {
      opacity: 0;
      -webkit-transform: translate3d(-3000px, 0, 0);
      transform: translate3d(-3000px, 0, 0);
    }
  
    60% {
      opacity: 1;
      -webkit-transform: translate3d(25px, 0, 0);
      transform: translate3d(25px, 0, 0);
    }
  
    75% {
      -webkit-transform: translate3d(-10px, 0, 0);
      transform: translate3d(-10px, 0, 0);
    }
  
    90% {
      -webkit-transform: translate3d(5px, 0, 0);
      transform: translate3d(5px, 0, 0);
    }
  
    to {
      -webkit-transform: translate3d(0, 0, 0);
      transform: translate3d(0, 0, 0);
    }
  }
  
  .bounceInLeft {
    -webkit-animation-name: bounceInLeft;
    animation-name: bounceInLeft;
  }
  
  .animated {
    -webkit-animation-duration: 1s;
    animation-duration: 1s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
  }

  /* h2 sub-titulo */

  @-webkit-keyframes bounceInRight {
    from, 60%, 75%, 90%, to {
      -webkit-animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
      animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
    }
  
    from {
      opacity: 0;
      -webkit-transform: translate3d(3000px, 0, 0);
      transform: translate3d(3000px, 0, 0);
    }
  
    60% {
      opacity: 1;
      -webkit-transform: translate3d(-25px, 0, 0);
      transform: translate3d(-25px, 0, 0);
    }
  
    75% {
      -webkit-transform: translate3d(10px, 0, 0);
      transform: translate3d(10px, 0, 0);
    }
  
    90% {
      -webkit-transform: translate3d(-5px, 0, 0);
      transform: translate3d(-5px, 0, 0);
    }
  
    to {
      -webkit-transform: translate3d(0, 0, 0);
      transform: translate3d(0, 0, 0);
    }
  }
  
  @keyframes bounceInRight {
    from, 60%, 75%, 90%, to {
      -webkit-animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
      animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
    }
  
    from {
      opacity: 0;
      -webkit-transform: translate3d(3000px, 0, 0);
      transform: translate3d(3000px, 0, 0);
    }
  
    60% {
      opacity: 1;
      -webkit-transform: translate3d(-25px, 0, 0);
      transform: translate3d(-25px, 0, 0);
    }
  
    75% {
      -webkit-transform: translate3d(10px, 0, 0);
      transform: translate3d(10px, 0, 0);
    }
  
    90% {
      -webkit-transform: translate3d(-5px, 0, 0);
      transform: translate3d(-5px, 0, 0);
    }
  
    to {
      -webkit-transform: translate3d(0, 0, 0);
      transform: translate3d(0, 0, 0);
    }
  }
  
  .bounceInRight {
    -webkit-animation-name: bounceInRight;
    animation-name: bounceInRight;
  }
  
  .animated {
    -webkit-animation-duration: 1s;
    animation-duration: 1s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
  }